<?php

/**
 * @file
 * Settings for the production environment.
 */

$databases['default']['default'] = array(
  'driver' => 'mysql',
  'database' => '{{ db_name }}',
  'username' => '{{ db_user }}',
  'password' => '{{ db_pwd }}',
  'host' => '{{ db_host | default("localhost") }}',
  'prefix' => '',
);

$settings['trusted_host_patterns'] = array(
  '{{ ansible_fqdn }}'
{% if server_aliases %}
{% for host in server_aliases %}
  ,'{{ host }}'
{% endfor %}
{% endif %}
);

{% if 'dev' in group_names %}
$config['system.performance']['css']['preprocess'] = FALSE;
$config['system.performance']['js']['preprocess'] = FALSE;
{% endif %}

$settings['config_directories']['sync'] = '../config/sync/'
